<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>

<h1><%= page_title %></h1>

<div class="import"> <%# CSVインポート %>
  <%= form_with url: import_users_path, class: "col-lg-4" do |form| %>
    <%= form.file_field :file, accept: '.csv' %><br>
    <%= form.submit "CSVをインポート", class: "btn btn-primary", style: "width: 300px" %><br>
    <h5>Example</h5>
  <% end %>
</div>

<%= will_paginate %>
<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">

    <% @users.each do |user| %>
      <tr>
        <% if current_user.admin? && !current_user?(user) %>
          <td><%= user.name %><br>
            <span> | </span><%= link_to "削除", user, method: :delete, class: "btn btn-md btn-primary",
              data: { confirm: "削除してよろしいですか？" } %></br>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <button type="button" class="btn btn-primary btn-lg"
                     data-toggle="collapse" data-target="#collapse<%= user.id %>">
                     編集</button>
                  </h4>
                </div>

                <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <%= render 'form2', user: user %>
                  </div>
                </div>
              </div>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>


<%= will_paginate %>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>