<% provide(:title, 'All Users') %>
<h1><%= page_title %></h1>
<div class="import"> <%# CSVインポート %>
  <%= form_with url: import_users_path, class: "col-lg-4" do |form| %>
  <%= form.file_field:file, accept: '.csv' %><br>
  <%= form.submit "CSVをインポート", class: "btn btn-primary", style: "width: 250px" %><br>
  <h5>Example</h5>
  <% end %>
</div>

<%= will_paginate %>

<div class="row">
  <div class="col-md-12">
  <% unless @users.empty? %>
    <ul class="users">
      <%= render @users %>
    </ul>
  <% else %>
    <p class="search">
      ユーザが見つかりませんでした。<br>
      探しているユーザー名を確認してください。
    </p>
  <% end %>
  </div>
</div>

<%= will_paginate %>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>