<% provide(:title, @user.name) %>


<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td style="vertical-align: middle;">
        <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
        【<%= l(@first_day, format: :middle) %>】時間管理表
        <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-info" %>
      </td>
      <td>
        指定勤務開始時間 : <%= format_basic_info(@user.work_time) %><br>
        指定勤務終了時間 : <%= format_basic_info(@user.work_time) %>
      </td>
      <td style="vertical-align: bottom;" colspan = "3">基本時間 : <%= format_basic_info(@user.basic_time) %></td>
      <td style="vertical-align: bottom;">初日 : <%= l(@first_day, format: :short) %></td>
    </tr>
    <tr>
      <td>所属 : <%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>氏名 : <%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数 : <%= @worked_sum %>日</td>
      <td>締め : <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>


<div class="btn btn-users-show">
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-info" %>
  <%= link_to "CSV出力", "#", class: "btn btn-info" %><br>
  <%= link_to "勤怠修正ログ（承認済)", "#", style: "width: 100%;", class: "btn btn-info" %>
</div>

<div>
  <table class="table table-bordered table-striped table-condensed table-hover" id="table-attendances">
    <thead>

      <tr> <!--rawspan:縦結合、colspan:横結合-->
        <th rowspan = "3">残業申請</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">【実績】</th>
        <th colspan = "5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認印</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>

      <% @attendances.each do |day| %>
        <% 
          css_class = 
          case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
          when '土'
            'text-primary'
          when '日'
            'text-danger'
          end
        %>
        <tr>
          <td><%= link_to "残業申請", "#", remote: true, class: "btn btn-info" %></td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= css_class %>">
            <%= $days_of_the_week[day.worked_on.wday] %>
          </td>
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= l(day.started_at.floor_to(15.minutes), format: :min) if day.started_at.present? %></td>
          
          <td> <!--繰り返し処理で表示している時間と本日が同じかつ出勤時間がからだったら、出勤ボタンを表示-->
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-info btn-attendance" %>
            <% end %>
          </td>
          
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= l(day.finished_at.floor_to(15.minutes), format: :min) if day.finished_at.present? %></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
    </tbody>
    
    <tfoot>
      <!-- rowapan:縦結合、colapan:横結合 -->
      <tr>
        <td rowspan="3"></td>
        <td colspan="2"></td>
        <td colspan="6"></td>
        <td colspan="1"><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="5"></td>
        <td rowspan="3">
          <div class="control-label">所属長承認　未</label>
            <div>
              <select class="form-control">
                <option></option>
                <option>上長１</option>
                <option>上長２</option>
              </select>
            </div>
            <%= link_to "申請", "#", rimote: true, style: "width: 100%; margin-top: 5px;", class: "btn btn-info" %>
        </td>
      </tr>
      <!--to_fメソッドは、文字列を浮動小数点数とみなしてFloatオブジェクトに変換する（to_iの小数点付きバージョン）-->
      <!--計算結果を小数点第２位までフォーマットしている。-->

    </tfoot>
  </table>
</div>
